body{
    background-image: url(https://i.ytimg.com/vi/t-wjpriZNiE/maxresdefault.jpg);}

h1{background-color: purple;
    margin-right: 75%;
    border-radius: 5%;
    border-style: solid;
}

form{background-color: purple;
    margin-right: 85%;
    border-radius: 6%;
    border-style: solid;
}

label{
    background-color: rgb(255, 156, 255);
    border-style: solid;
}

button{
    background-color: rgb(116, 32, 83) ;
    border-style: solid;
}
